%section.banner
  - if @page.banner.present?
    = image_tag @page.banner.full
    .slide
      %h1= @page.banner_caption if @page.banner_caption.present?
      %p= @page.banner_description.html_safe if @page.banner_description.present?
%section.content
  = @page.body.html_safe
.banner-button
  %div
    = link_to t(:yellow_banner), new_form_path
  %div
    = link_to t(:green_banner), "/#{generate_prices_and_terms_link}"
