<ul>
	<% @documents.each do |d| %>
	<li>Document name: <%= d.name %></li>
	<li>Document location: <%= d.location %></li>
	<li>Document type: <%= d.doc_type %></li>
	<li>Document parent page: <%= d.static_page.title %></li>
	<li>end</li>
	<br/>
	<%= link_to "Delete document", d, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</ul>