// **** IGNORE ****

// sass --watch stylesheet:stylesheet --style compressed

// **** END of IGNORE ****

// ********** Limited reset **********
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr, textarea, input {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	border-image-width: 0;
}
// ********** END Limited reset **********

// add colors and variables
@import "variables";

body {
  max-width: 100%;
  overflow-x: hidden;
}
// clearfix
.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE6/7 (trigger hasLayout) */
}
// link styles
a {
    text-decoration: none;
	color: $white;
	&:hover {
		color: $yellow;
	}
}

// ********** Flash Message **********

.alert {
  padding: 8px 0px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  max-width: 1024px;
  margin: 0 auto 16px;
}

.alert p {
	padding-left: 10px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: $grey;
  background-color: $litegreen;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

button.close {
	padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  padding-right: 30px;
}


// ********** END of Flash Message **********

// ********** HOME PAGE***************************************************************************************************************
// Home layout

body {
	font-family: 'SegoePro-Regular', sans-serif;
	font-weight: normal;
}

h1 {
	font-family: 'Helen-Bold', sans-serif;
	font-size: 2.125em;
	color: $yellow;
}

// ********** Header **********
header {
  height: 90px;
	background-color: $header;
	line-height: 86px;
  .clearfix {
    position: relative;
		height: 90px;
		max-width: 1024px;
		margin: 0 auto;
	}
	.logo {
		display: inline-block;
		float: left;
		border-right: 1px solid $white;
		vertical-align: middle;
		padding: 0 18px;
		img {
			vertical-align: middle;
		}
		
	}
}

nav {
	font-family: 'Helen-Regular', sans-serif;
    float: left;
    display: inline-block;
	line-height: 86px;
	vertical-align: middle;
	margin: 0 0 0 16px;
	ul {
		max-height: 90px;
		margin-top: 2px;
	}
	a {
		font-size: 13px;
		margin-right: 5px;
	}
	a.active {
		color: $yellow;
	}
}
#menuButton {
    display: none;
}
.rightMenu {
  float: right;
  height: 30px;
  line-height: normal;
  position: absolute;
  right: 0;
	div {
		vertical-align: middle;
		display: inline-block;
		color: $grey;
		font-size: 12px;
		font-family: 'Helen-Bold', sans-serif;
		padding: 0 18px 0 35px;
		span {
		    border-right: 1px solid $grey;
			margin: 0 1px;
		}
	}
    &>a {
		vertical-align: middle;
		display: inline-block;
		padding-bottom: 4px;
		&:nth-child(1) {
		    width: 20px;
		    height: 10px;
		    background: url('../images/icons-social.png') no-repeat 0 0;
			&:hover {
				background: url('../images/icons-social.png') no-repeat 0 -14px;
			}
		}
		&:nth-child(2) {
		    margin: 0 8px;
		    width: 15px;
		    height: 10px;
		    background: url('../images/icons-social.png') no-repeat -30px 0;
			&:hover {
				background: url('../images/icons-social.png') no-repeat -30px -14px;
			}
		}
		&:nth-child(3) {
		    width: 16px;
		    height: 10px;
		    background: url('../images/icons-social.png') no-repeat -55px 0;
			&:hover {
				background: url('../images/icons-social.png') no-repeat -55px -14px;
			}
		}
	}
}
// ********** END of Header **********

// ********** banner-slider **********
.banner-slider{
	background-color: $yellow;
	//height: 565px;
	max-width: 1024px;
	margin: 0 auto;
}
.bxslider li {
	position: relative;
	text-align: center;
}
.slide {
	position: absolute;
	top: 43%;
	width: 100%;
	color: $white;
	h1 {
		font-size: 59.73px;
		font-family: 'Helen-Bold', sans-serif;
		letter-spacing: -1px;
		margin-bottom: 10px;
		color: $white;
		&:hover {
			color: $white;
		}
	}
	p {
		font-size: 25.6px;
		font-family: 'SegoeProDisplay-Light', sans-serif;
		margin-top: 19px;
		line-height: 28px;
		span {
			font-size: 59.73px;
			line-height: 71px;
		}
	}
}
.slide-last {
	p {
		font-size: 15px;
		color: $black;
		margin-bottom: 18px;
		line-height: 17px;
		a {
			color: $black;
			&:hover {
				color: $black;
			}
		}
	}
	div {
		display: block;
		vertical-align: bottom;
		margin-top: 27px;
		&>a {
			display: inline-block;
			&:nth-child(1) {
				width: 42px;
				height: 32px;
				background: url('../images/icons-social-contacts.png') 0 0;
			}
			&:nth-child(2) {
				margin: 0 23px;
				width: 33px;
				height: 32px;
				background: url('../images/icons-social-contacts.png') -67px 0;
			}
			&:nth-child(3) {
				width: 34px;
				height: 32px;
				background: url('../images/icons-social-contacts.png') -126px 0;
			}
		}
	}
}

.info-online > a > img {
	opacity: 0.7;
}

.info-online > a > img:hover{
	opacity: 1;
}

.form {
  max-width: 1024px;
  margin: 0 auto;
  color: $black;
  h1 {
    color: $yellow;
    font-size: 55px;
    font-weight: bold;
    text-align: left;
  }
  label {
    font-size: 18px;
    text-align: justify;
  }
  .date {
    select {
      width: auto;
      min-width: 75px;
      margin: 10px auto;
      &:nth-child(1) {
          width: 10%
      }
      &:nth-child(2) {
          width: 65%
      }
      &:nth-child(3) {
          width: 35%
      }
    }
  }
  .title {
  	display: block;
  	text-align: center;
  }
  input {
    width: 328px;
    height: 44px;
    border: 1px solid $grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
  }
  select {
    width: 328px;
    height: 44px;
    border: 1px solid $grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    background-image: url("arws.png");
    background-repeat: no-repeat;
    background-position: 98.7% 63%;
    padding-right: 5px;
  }
  div {
    text-align: center;
    max-width: 1024px;
    height: auto;
    border-bottom: 1px solid $grey;
    padding: 30px 0;
    p {
      display: inline-block;
      text-align: center;
      width: 330px;
      margin-right: 12px;
      &:nth-child(3) {
          margin-right: 0;
  		}
  	}
  }

  textarea {
  	width: 328px;
    border: 1px solid $grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
  }

  .lastDiv {
    p{
      line-height: 110%;
      font-size: 16px;
      span {
        font-weight: bold;
        display: block;
      }
    }
  }
  #submit-button {
  	border-bottom: none;
    width: 328px;
    height: 44px;
    background-color: $header;
    border: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    color: $white;
    font-size: 17px;
    cursor: pointer;
	}

	.simple_captcha_image img {
		vertical-align: middle;
	}

	.simple_captcha_image a{
		color: black;
	}

	.simple_captcha_image {
		font-size: 0.7em;
	}
}

.content {
	p {
    font-size: 16px;
		line-height: 18px;
		a {
			color: $yellow;
		}
		a:hover {
			text-decoration: underline;
		}
		strong {
			font-weight: bold;
		}
		em {
			font-style: italic;
		}
	}
	ul, ol {
		padding-left: 15px;
		font-size: 16px;
		line-height: 18px;
		strong {
			font-weight: bold;
		}
		em {
			font-style: italic;
		}
		a {
				color: $yellow;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
	}
}



// ********** END OF banner-slider **********

.info-grid {
  .single-grid {
    max-width: 406px;
    margin-top: 34px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.info-online {
  p {
    margin: 0 100px;
  }
}

// ********** Responsive **********
@media all and (max-width: 1005px) {
	// Header
	header {
		height: auto;
		.clearfix {
      height: auto;
      .rightMenu {
        position: relative;
        line-height: 86px;
      }
      ul {
				height: inherit;
				max-height: none;
			}
		}
	}
  nav {
		margin: 0;
		width: 100%;
		height: auto;
		padding-top: 0;
		a {
			line-height: 50px;
			height: 50px;
			margin: 0;
			display: block;
			font-size: 16px;
			text-align: center;
			background-color: $header;
			border-bottom: solid 1px $white;
			&:first-child {
				border-top: solid 1px $white;
			}
		}
		ul {
		    height: auto;
		    width: 100%;
				max-width: none;
		}
  }
	
  #menuButton {
		display: inline-block;
		float: right;
		margin: 30px 20px 0px 30px;
		width: 30px;
		height: 30px;
		background: url('../images/menu.png') 0 0;
		    &:hover {
				background: url('../images/menu.png') 0 -30px;
			}

  }

  .info-banner {
    div:nth-child(5) {
      p {
        padding: 0px 100px;
      }
    }
  }
}

@media all and (max-width: 810px) {
	// Section
	.slide {
		h1 {
			font-size: 40px;
		}
		p {
			display: inline-block;
			font-size: 20px;
			margin-top: 0;
			line-height: 24px;
			span {
				font-size: 40px;
				line-height: 55px;
			}
		}
	}
	.slide-last {
		p {
			font-size: 14px;
			&:nth-child(2) {
				margin-right: 40px;
			}
		}
		div {
			margin: 0;
		}
	}
	
}

@media all and (max-width: 710px) {
	// Section
	.slide-last {
		top: 28%;
		p {
			font-size: 12px;
			line-height: 16px;
			&:nth-child(2) {
				margin-right: 40px;
			}
		}
		div {
			margin: 0;
		}
	}
	.banner-slider .bx-wrapper .bx-controls-direction a {
		width: 70px;
		height: 70px;
		background: url(../images/arrow-70.png) no-repeat;
		&:hover {
			background-position: -70px 0;
		}
	}
}

@media all and (max-width: 610px) {
	// Section
	.banner-slider .bx-wrapper .bx-controls-direction a {
		width: 50px;
		height: 50px;
		background: url(../images/arrow-50.png) no-repeat;
		&:hover {
			background-position: -50px 0;
		}
	}
}
	
@media all and (max-width: 490px) {
	// Header
	.rightMenu {
		&> a {
			display: none;
		}
	}
	
	// Section
	.slide {
		h1 {
			margin-bottom: 0;
			font-size: 34px;
		}
		p {
			display: block;
			font-size: 16px;
			line-height: 20px;
			span {
				font-size: 34px;
				line-height: 40px;
			}
		}
	}
	.slide-last {
		top: 0;
		p {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 10px;
			&:nth-child(2) {
				margin-right: 10px;
			}
		}
		div {
			&>a {
				display: inline-block;
				&:nth-child(1) {
					width: 24px;
					height: 18px;
					background: url('../images/icons-social-contacts-18.png') 0 0;
				}
				&:nth-child(2) {
					margin: 0 9px;
					width: 19px;
					height: 18px;
					background: url('../images/icons-social-contacts-18.png') -38px 0;
				}
				&:nth-child(3) {
					width: 19px;
					height: 18px;
					background: url('../images/icons-social-contacts-18.png') -71px 0;
				}
			}
		}

  }

  .info-banner {
    div:nth-child(5) {
      p {
        padding: 0px 20px;
      }
    }
  }

  .info-grid {
    .single-grid {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      a > img {
        width: 100%;
      }
    }
  }

}

@media all and (max-width: 430px) {
	// Section
	.slide {
		h1 {
			font-size: 28px;
		}
		p {
			font-size: 14px;
			line-height: 16px;
			span {
				font-size: 28px;
				line-height: 30px;
			}
		}
	}
	.slide-last {
		p {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 10px;
			&:nth-child(2) {
				margin-right: 10px;
			}
		}
  }

  .info-online {
    a > img {
      width: 90%;
      padding: 0px 10px;
    }

    p {
      margin: 0 20px;
    }
  }

  .content {
    font-size: 18px;
    h1 {
      font-size: 24px;
    }
  }
}

@media all and (max-width: 390px) {
	// Header
	.rightMenu {
		div {
			padding: 0 5px;
		}
	}
	#menuButton {
		margin: 30px 5px 0px 5px;
	}
	
	// Section
	.slide-last {
		p {
			margin: 5px;
			line-height: 13px;
		}
	}
	.banner-slider .bx-wrapper .bx-controls-direction a {
		width: 35px;
		height: 35px;
		background: url(../images/arrow-35.png) no-repeat;
		&:hover {
			background-position: -35px 0;
		}
  }

  .form {
    label {
      font-size: 14px;
    }
    div > p {
      text-align: left;
    }
    input, textarea, #submit-button {
      width: 280px;
    }
  }
}

// ********** END OF HOME PAGE********************************************************************************************************
// ********** Self-arranged***********************************************************************************************************
// ************* Section **************
.banner {
	margin: 0 auto;
	max-width: 1024px;
	text-align: center;
	position: relative;
	img {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
	}
}
.content {
	font-family: 'SegoePro-Regular', sans-serif;
	font-size: 21.34px;
	padding: 65px;
	margin: 0 auto;
	max-width: 1024px;
	p {
		margin-bottom: 30px;
	}
}
.names {font-weight: bold;}
.banner-button {
	font-family: 'SegoePro-Regular', sans-serif;
	font-size: 25.6px;
	max-width: 1024px;
	margin: 0 auto;
	div {
		height: 136px;
		width: 100%;
		background-color: $yellow;
		text-align: center;
		display: table;
		a {
			display: table-cell;
			vertical-align: middle;
			&:hover {
				color: $white;
			}
		}
		&:last-child {
			background-color: $green;
		}
	}
}
.logo-bottom {
	margin: 150px auto;
	max-width: 1024px;
	text-align: center;
}

// ********** Responsive **********
@media all and (max-width: 600px) {
	.content {
		padding: 30px;
		font-size: 18px
	}
}
// ************* END OF Section **************
// ********** END OF Self-arranged****************************************************************************************************
// ********** WAT*********************************************************************************************************************
// sections
.info-banner {
	max-width: 1024px;
	margin: 0 auto;
	font-size: 17.06px;
	div {
		color: $white;
		display: table;
		text-align: center;
		height: 136px;
    max-width: 1024px;
		p {
			display: table-cell;
			vertical-align: middle;
			padding: 0 80px;
			strong {
				font-weight: bold;
			}
		}
		&:nth-child(1) {
			background-color: $yellow;
			color: $black;
		}
		&:nth-child(2) {
			background-color: $grey-light;
      height: 68px;
      width: 100%;
			line-height: 65px;
			img {
				vertical-align: middle;
			}
		}
		&:nth-child(3) {
      padding-top: 10px;
      background-color: $violet;
      width: 100%;
		}
		&:nth-child(4) {
      background-color: $violet-dark;
      padding: 10px;
      margin-bottom: 30px;
      a {
				font-size: 51.19px;
				display: table-cell;
				vertical-align: middle;
			}
		}
		&:nth-child(5) {
			p {
				color: $black;
				display: block;
				margin-bottom: 30px;
        &:last-child {
					font-size: 34.13px;
				}
			}
		}
	}
}
.info-grid {
	max-width: 976px;
	margin: 0 auto;
	background-color: $black;
	text-align: center;
	padding: 16px 25px;
	.single-grid {
		color: $white;
    display: inline-block;
		vertical-align: top;
    &>p {
      font-size: 17.06px;
			span {
				font-size: 34.13px;
			}
		}
		div {
			color: $black;
			background-color: $yellow;
			height: 100px;
			font-size: 12.8px;
			
			p {
				display: inline-block;
				width: 90%;
				&:nth-child(1) {
					margin-top: 20px;
				}
			}
		}
		&:nth-child(3){
			margin-top: 34px;
			margin-right: 50px;
			div p {
				margin-top: 5px;
			}
		}
		&:nth-child(4){
			position: relative;
			top: -21px;
		}
	}
}
.info-online {
	background-color: $grey-light;
  max-width: 1024px;
	margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
	img {
		margin-top: 90px;
		margin-bottom: 30px;
	}
}


// ********** END OF WAT**************************************************************************************************************


















