!!!
%html
  = render 'layouts/head'
  %body
    %header      
      .clearfix
        - if params[:locale] == 'bg'
          - replace_root_path = root_locale_path('bg')
        -else
          - replace_root_path = root_locale_path('en')
        = link_to(image_tag("logo.png"), replace_root_path, class: 'logo')
        %a#menuButton
          &nbsp;
        .rightMenu
          %a{href:"mailto:info@fletcherlynd.com"}
          %a
            &nbsp;
          %a
            &nbsp;
          %div
            = link_to "EN", root_locale_path('en')
            |
            = link_to "BG", root_locale_path('bg')
        %nav#menu
          %ul
            - @pages.each_with_index do |page, k|
              = link_to page.title, static_page_path(friendly_id: page.slug), id: "#{page.slug}" if page.in_main_menu
              = link_to t(:apply_online), new_form_path, id: 'forms' if k == 2
              = link_to t(:ticket_form), new_ticket_path, id: 'tickets' if k == 3
            = link_to t(:contacts), new_contact_path, id: 'contacts'

  - flash.each do |name, msg|
    .space
    = content_tag :div, :class => "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable" do
      %button.close{:type => "button", :data => {:dismiss => "alert"}, :aria => {:hidden => "true"} } &times;
      %p
        = msg
  = yield
  = render 'layouts/footer'